/* CSS for fish_map.php */
.autoclass-1 { width: 200px; }

.autoclass-2 { width: 200px; }

.autoclass-3 { width: 200px; }

.autoclass-4 { width: 200px; }

.autoclass-5 { width: 200px; }

.autoclass-6 { width: 200px; }

.autoclass-7 { color: black; }
