body {
    font-family: Arial, sans-serif;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar {
    background: rgba(37, 37, 55, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Разделяем левую и правую часть */
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 10px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #00d9ff;
    user-select: none;
    pointer-events: none;
    margin-right: 20px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-left a,
.nav-right a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    transition: 0.3s;
    border-radius: 5px;
}

.nav-left a:hover,
.nav-right a:hover {
    background: rgba(0, 122, 153, 0.5);
}
h1 {
    margin-top: 20px;
}
#map {
    width: 80%;
    height: 500px;
    margin: 20px auto;
    border-color:#333;
    border-width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.form-container {
    margin: 20px auto;
    width: 50%;
    background: #333;
    padding: 10px;
    border-radius: 10px;
}
input, textarea, button {
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}
button {
    background: #00aaff;
    color: white;
    cursor: pointer;
}
button:hover {
    background: #0088cc;
}

.sticky-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(37, 37, 55, 0.9);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    display: flex;
    justify-content: center; /* Центрируем иконки */
    align-items: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.3s;
    text-decoration: none; /* Убираем белую линию под иконками */
}

.social-icons i {
    font-size: 24px;
    color: white;
    transition: 0.3s;
}

.twitter:hover i { color: #1DA1F2; }   /* Голубой цвет Twitter */
.facebook:hover i { color: #1877F2; }  /* Синий цвет Facebook */
.instagram:hover i { color: #E1306C; } /* Розовый цвет Instagram */
.youtube:hover i { color: #FF0000; }   /* Красный цвет YouTube */