/* CSS for subtopics.php */
.autoclass-1 { border-radius: 50%; vertical-align: middle; margin-right: 10px; }

.autoclass-2 { border-radius: 50%; vertical-align: middle; margin-right: 10px; }

.autoclass-3 { text-align: center; color: #fff; }

.autoclass-4 { text-align: center; margin: 20px 0; }

.autoclass-5 { display: inline-block; padding: 12px 25px; background-color: #3498db; color: white; border-radius: 6px; text-decoration: none; font-weight: bold; }

.autoclass-6 { color:white; }
